<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link rel="stylesheet" type="text/css" href="../styles/base.css">
  </head>
  <body>
    <nav class="nav-bar-class">
      <ul class="ul-block-class">
        <li><a href="index.html">Начало</a></li>
        <li><a href="about.html">За Автора</a></li>
        <li><a href="history.html">История</a></li>
        <li><a href="contact.html">Контакт</a></li>
      </ul>
    </nav>
    <h3><a href="prime_ministers.html">Министър-председател на България</a></h3>
  </body>
</html>
