<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Prime Ministers</title>
    <link rel="stylesheet" type="text/css" href="../../../styles/base.css">
  </head>
  <body>
    <nav class="nav-bar-class">
      <ul class="ul-block-class">
        <li>
          <a href="../../templates/index.html">Начало</a>
        </li>
        <li><a href="../../../templates/about.html">За Автора</a></li>
        <li><a href="../../../templates/history.html">История</a></li>
        <li><a href="../../../templates/contact.html">Контакт</a></li>
      </ul>
    </nav>
    <p class="p-bb"><strong>Първият министър-председател на България</strong></p>
    <div class="div-border">
      <div class="div-center">
        <img style="border: inset 10px brown;" src="images/Todor_Burmov.jpg" height="200">
      </div>
      <p>
      Тодор Стоянов Бурмов е един български възрожденец, борец за църковна
    независимот и активен политически деец, след Освобождаването. Нароен
    представител в I велико народно събрание и I, II и XII, обикновено народно събрание. Бурмов е и първи министър-председател на освободена България, и два пъти е бил министър на финансите.
      </p>
    </div>
    <br>
    <div style="border: 1px solid black;">
      <h3 style="text-align: center; ">Биография</h3>
      <p>
        Тодор Бурмов е роден на 2 януари 1834 г. в село Нова махала, Габровско.
        Още в ранните си детски години той показва много добри способности и
        това му дата възмоността да замине да учи в Русия. През 1857 г.
        завършва Киевската духовна академия и се завръща в Габрово, където
        работи като учител. Високообразованият младеж повежда истинска борба
        със старите учители и чорбаджии за коренна реформа в образователния
        процес, за въвеждане на нови предмети и методи на преподаване.
        Благодарение на него, селд две години Габровското учлище се превръща в
        едно от най-модерните класни училища в страната.
      <br>
      <br>
      Едновременно с това Тодор Бурмов започва своята публицистична дейност,
      публикувайки материали в "Цариградски вестник" и списание "Български
      книжици" (1860-1862 г.). През 1860 г. става редактор на "Български
      книжици" и на страниците на списанието той поставя въпроса за църковната
      независимот. През април същата година Тодор Бурмов участва в подготовката
      на Великденската акция и отпечатва специална брошура, озаглавена
      "Българите и високото гръцко духовенство", в която аргументира
      необходимостта от самостоятелна българска църква.
      <br>
      <br>
      На 3 април 1860 г. по време на тържествената великденска служба във все
      още дървения български храм "Свети Стефан" в Цариград епископ Иларион
      Макариополски не споменава името на вселенския гръцки патриарх и така
      символично отхвърля властта на патриаршията над българското паство.
      <br>
      <br>
      През следващите няколко години Тодор Бурмов поема издаването на вестник "Съветник" (1863-1865 г.) - първият български партиен орган, изразяващ интересите на умереното течение в борбата за църковна независимост. Те застъпват тезата, че българският въпрос трябва да се реши чрез преговори и отстъпки, като се избягва разрив с Патриаршията. През 1865 г. вестникът е спрян, но Бурмов продължава да отстоява своите позиции на страниците на вестник "Время". Макар и да не е революционер, Тодор Бурмов подкрепя идеята за освобождение чрез радикални мерки, но поставя акцента не върху самостоятелно освободително движение, а върху ролята на Русия.
      <br>
      <br>
      През 1867 г. постъпва на работа в руската легация в Цариград като преводач и съветник по българските въпроси. Едновременно с това продължава журналистическата си дейност, като кореспондент на вестниците "Московски ведомости" и "Европа", където публикува много материали, разкриващи положението на българския народ и неговите стремежи. Не прекъсва и работата си за църковното национално движение - пише брошури, посредничи между руското посолство и българските дейци, служи като съветник на екзарх Антим I  по важни политически въпроси.
      <br>
      <br>
      По време на Руско-турската освободителна война (1877-1878) Бурмов е ковчежник на Канцелария за граждански дела към щаба на Руската армия. През 1878 г. е назначен за вицегубернатор на Пловдив, а на следващата година - за губернатор на София. Това предопределя и блестящата му политическа кариера. Княз Батенберг го избира за пръв министър-председател на страната, като едновременно с това е и министър на вътрешните работи и управляващ Министерството на народното просвещение.
      <br>
      <br>
      До 1884 г. Бурмов е един от водачите на Консервативната партия. След това се присъединява към Прогресивнолибералната партия на Драган Цанков. Избиран е за член на Върховния касационен съд и на Държавния съвет, учреден от княз Батенберг по време на управлението на Режима на пълномощията (1881-1883 г.).
      <br>
      <br>
      Оттегля се от политическия живот след 1886 г., но работи като редактор във вестник "Витоша" /свързан с Консервативната партия и е първият вестник, издаван в град София/, в консервативния "Български глас" и русофилския "Светлина".
      <br>
      <br>
      Тодор Бурмов умира на 25 октомври 1906 г. във влак, на път от София за Цариград.
      </p>
    </div>
  </body>
</html>
