<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Prime Ministers</title>
    <link rel="stylesheet" type="text/css" href="../../styles/base.css">
  </head>
  <body>
    <nav class="nav-bar-class">
      <ul class="ul-block-class">
        <li>
          <a href="../../templates/index.html">Начало</a>
        </li>
        <li><a href="../../templates/about.html">За Автора</a></li>
        <li><a href="../../templates/history.html">История</a></li>
        <li><a href="../../templates/contact.html">Контакт</a></li>
      </ul>
    </nav>
    <p class="p-bb"><strong>Втори Министър-председател на България</strong></p>
    <div class="container">
      <div class="just-right">
        <img style="border: inset 10px brown;" src="images/Kliment_tarnovski.jpg" height="200">
      </div>
      <div>
       <div class="just-left">
         <p> 
          Климент(светско име Васил Николов Друмев) е български писател,
          духовник и политик от Консервативната партия. Той е автор на първата
          българска повест и първата българска драматична пиеса с оригинален
          сюжет. След Освобождаването е митрополит на Търновската епархия на
          Българската екзархия и два пъти е министър-председател на България.
         </p>
        </div>
      </div>
    </div> 
  </body>
</html>
