body {
  background: #EDF5E1;
}

.nav-bar-class {
  background: linear-gradient(#fff 33%, #00956e 33%,
    #00956e 66%, #d52612 0);
  height: 80px;
  width: 100%;
}

.nav-bar-class ul {
  text-align: center;
  margin-right: 20px;
  font-size: 20px;
}

.nav-bar-class ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav-bar-class a {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.p-bb {
  border-bottom: 1px solid black;
}


.container {
  border: 1px solid black;
}

.just-left {
  margin: 10px;
  text-align: center;
  justify-content: center;
  width: 30%;
  padding: 5px;
  border: 1px solid black;
}

.just-right {
  margin: 20px;
  text-align: right;
}

p {
  margin: 5px;
  font-size: 18px;
  font-family: sans-serif;
}

.nested-div {
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
}